<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolateygui" />
  <package id="google-chrome-x64" />
  <package id="firefox" />
  <package id="dropbox" />
  <package id="evernote" />
  <package id="skype" />
  <package id="atom" />
  <package id="notepadplusplus.install" />
  <package id="greenshot" />
  <package id="executor" />
  <package id="skitch" />
  <package id="licecap" />
  <package id="windirstat" />
  <package id="winscp" />
  <package id="vlc" />
  <package id="adobereader" />
  <package id="filezilla" />
  <package id="MicrosoftSecurityEssentials" />
  <package id="procexp" />
  <package id="devbox-rapidee" />
  <package id="libreoffice" />
  <package id="mingw" />
  <package id="git" />
  <package id="sourcetree" />
  <package id="github" />
  <package id="ruby" />
  <package id="javaruntime" />
  <package id="nodejs.install" />
</packages>
